@font-face {
    font-family: rubik-custom-font;
    src: url(font/Rubik-Regular.ttf);
}


body {
    font-family: rubik-custom-font;
    overflow-x: hidden;
    margin:0;
}
body.dropdown-open {
    overflow: hidden;
}
a {
    text-decoration: none;
    color: black;
}
h2 {
    margin-left: 2%;
}
h3 {
    margin-left:4%;
}

#topbar-container {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 5;
}
#topbar-container a {
    max-height: 20%;
    max-width: 20%;
    background-color: white;
    border: none;
    z-index: 6;
}
#topbar-container button {
    max-height: 20%;
    max-width: 20%;
    background-color: white;
    border: none;
    z-index: 6;
}
#logo {
    float: left;
    padding-left: 5%;
}
#settings {
    float: right;
    padding-right: 5%;
    padding-top: 3%;
}
.topbar-img {
    max-height: 100%;
    max-width: 100%;
}







.dropdown-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 3; 
}
.dropdown-menu.active {
    display: block;
}
body::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
}
#dropdown-content {
    height:100vh;
    padding-top: 15vh;
    background-color: white;
}
.dropdown-container {
    width:100vw;
    height:10vh;
    text-align: center;
    font-size:28px;
}























#everything-container {
    overflow: none;
    margin-top: 20%;
    padding-bottom:5%;
}




#recent-matches-container {
    max-width: 100%;
    overflow-x: auto;
    padding: 10px;
}
.recent-matches-scrollable {
    display: inline-flex;
    white-space: nowrap;
    width: max-content;
    overflow: none;
}
.recent-matches-card {
    width: 80vw;
    padding: 5%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    margin-right: 20px;
    white-space: normal;
}

.recent-matches-card-club-logo {
    width: 40%;
    height: auto;
    text-align: center;
}
.recent-matches-card-club-logo img {
    width: 100%;
    height: auto;
}

.recent-matches-card-game-info {
    flex-grow: 1;
    text-align: center;
}

.recent-matches-card-date, .recent-matches-card-score, .recent-matches-card-place {
    margin: 0 20px;
    padding: 10px 0;
}




#teams-container {
    max-width: 100%;
    overflow-x: auto;
    padding: 10px;
}
.teams-scrollable {
    display: inline-flex;
    white-space: nowrap;
    width: max-content;
    overflow: auto;
}
.teams-card {
    width: 40vw;
    height: 33vw;
    padding: 2%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-right: 20px;
    white-space: normal;
    text-align: center;
}
.teams-card-img {
    width: 75%;
    height: auto;
}
.teams-card-img img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}







#players-container {
    max-width: 100%;
    overflow-x: auto;
    padding: 10px;
}
.players-scrollable {
    display: inline-flex;
    white-space: nowrap;
    width: max-content;
    overflow: none;
}
.players-card {
    width: 40vw;
    height: 33vw;
    padding: 2%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-right: 20px;
    white-space: normal;
    text-align: center;
}
.players-card-img {
    width: 75%;
    height: auto;
}
.players-card-img img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.players-card-pos {
    color: rgb(63, 63, 63);
}










/* FOR MATCH . HTML's */



#score-container {
    background-color: lightgray;
    width: 100%;
    height: 20vh;
    overflow: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#score-info {
    flex-grow: 1;
    text-align: center;
    flex-direction: column;
}

#score-info div {
    margin-top:15%;
}

#score-score {
    font-size:24px;
}

#score-date, #score-place {
    font-size:14px;
}

.score-logo-image {
    width: 50%;
    height: auto;
}

#team-players-container {
    max-width: 100%;
    overflow-x: hidden;
    padding: 10px;
}

.team-players-scrollable {
    display: inline-flex;
    white-space: nowrap;
    width: max-content;
    overflow: none;
}

.team-players-card {
    width: 28vw;
    height: 25vw;
    padding: 2%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-right: 20px;
    white-space: normal;
    text-align: center;
    overflow:none;
}

.game-statistics-container {
    background-color: lightgray;
    overflow-x: auto;
    overflow-y: hidden;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
    padding:7px;
    text-align: center;
}





/* Personal Team Pages */

.text-icon-image {
    width: 30px;
    height: 30px;
}
.text-icon-image-players {
    width: 60px;
    height: 60px;
}
.team-name-container {
    display: flex;
    flex-direction: row;
    align-content:center;
}
.team-name-text {
    align-self: center;
}




#team-highlight-container {
    padding: 5%;
    background-color: lightgray;
}

#page-highlight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#page-highlight img {
    width:50%;
}

#page-highlight-text {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}


.personal-team-stats-list-container {
    background-color: lightgray;
    padding: 3px 0 0 0;
    border-radius: 5px;

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}