#all-matches-container {
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 10px;
}
.all-matches-scrollable {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: hidden;
}
.all-matches-card {
    width: 95vw;
    padding: 5%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    margin-right: 20px;
    white-space: normal;
    overflow-x: hidden;
}

.all-matches-card-club-logo {
    width: 40%;
    height: auto;
    text-align: center;
}
.all-matches-card-club-logo img {
    width: 100%;
    height: auto;
}

.all-matches-card-game-info {
    flex-grow: 1;
    text-align: center;
}

.all-matches-card-date, .all-matches-card-score, .all-matches-card-place {
    margin: 0 20px;
    padding: 10px 0;
}    



@media (min-width: 1200px) {
    #all-matches-container {
        display: grid;
        row-gap: 1%;
    }
    .all-matches-scrollable {
        justify-content: center;
    }
    .all-matches-card {
        width: 25vw;
    }
}